{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="time-list">
        <ul>
            {{ range .Pages }}
            <li>
                <span>{{- partial "date" .Date -}}</span>
                <div><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
            </li>
            {{ end }}
        </ul>
    </div>

  {{ if not .IsHome }}
    <div class="terminal-nav">
      <div class="back-nav">
        {{ with .Parent }}
          <a href="{{ .RelPermalink }}" class="back-link">../</a>
        {{ else }}
          <a href="{{ "/" | relURL }}" class="back-link">../</a>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
